* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
}

.manage-container {
    width: 100%;
    height: 100%;
}

.manage-header {
    height: 100px;
    width: 100%;
    display: flex;
    margin-bottom: 40px;

    .title {
        width: 3600px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container-content__manage {
    width: 100%;
    display: flex;

    .content-left__nd {
        width: 100%;

        .list-button {
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
        }
    }

    .content-right__nd {
        padding: 15px;
        width: 100%;
        height: 600px;

        .content-right__show {
            width: 100%;
            height: 100%;
            border: 1px solid black;
        }
    }
}
