* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.baocao-container {
    width: 100%;
}

.baocao-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    .btn-back {
        width: 75px;
        border: none;
        background-color: transparent;
        outline: none;
        
    }

    .title-baocao {
        line-height: 50px;
        text-align: center;
        align-self: center;
        margin-bottom: 0;
        width: 100%;
    }
}

.baocao-container__content {
    margin-top: 30px;
    width: 100%;
    display: flex;

    .baocao-container__content-left {
        width: 100%;

        .input-chekbox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 350px;
        }
    }

    .baocao-container__content-right {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .dropdown-basic {
            width: 10px;
            height: 10px;
        }

    }
}


.table-content {
    width: 100%;
    padding: 0 20px;
    margin-top: 70px;

    .title-table {
        text-align: center;
    }
}