
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.congno-container {
    width: 100%;
    height: 100%;
    position: relative;

    .congno-container__content {
        width: 100%;

        .header-title {
            text-align: center;
            padding: 20px 0;
        }
    }
}

.list-product {
    width: 100%;
    padding: 20px;
    scroll-behavior: auto;

    .list-items__detail-product {
        list-style: none;
        padding: 20px;
        width: 100%;
        border: 1px solid black;
        height: 550px;
        overflow: auto;
    }
}