.bill-container {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;

    .bill-header {
        h1 {
            margin: '5px 0';
            text-align: center;
            font-size: 58px;
        }

        h3 {
            margin: '5px 0';
            text-align: center;
            font-style: italic;
            font-size: 48px;
        }
    }

    .bill-info-person {
        height: 150px;
        display: flex;
        flex-direction: row;

        .bill-info-person__left {
            width: 70%;
            h3 {
                font-size: 48px;
            }
        }
        .bill-info-person__right {
            width: 30%;
            h3 {
                font-size: 48px;
            }
        }
    }

    .bill-donate {
        width: 100%;
        display: flex;
        flex-direction: column;

        span {
            font-size: 32px;
        }
    }

    .bill-numberphone {
        h4 {
            text-align: center;
            font-style: italic;
            font-size: 48px;
        }
    }

    .bill-doneOder {
        display: flex;
        .nguoiGiaoHang {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: italic;

            h5 {
                font-size: 43px;
            }
        }
        .nguoiNhanHang {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: italic;
            h5 {
                font-size: 43px;
            }
        }
    }

    .bill-table__text {
        text-align: center;
        margin: 0;
        font-size: 33px;
    }
    td {
        font-size: 28px;
    }
}
